.detailButton {
    margin-bottom: 100px;
}

.video {
    padding-top: 70px;
    margin-bottom: 200px;
}

.feat {
    padding-top: 30px;
}

.gallery {
    padding-bottom: 20px;
}

.carousel {
    padding-bottom: 80px;
    object-fit: cover;
}

.audio {
  width: 500px;
}