.hello {
    margin-left: 40px;
}

.linkBack {
  position: fixed;
  bottom: 200px;
  left: 60px;
}

.imageProfile {
  height: 200px;
  width: 170px;
  padding-bottom: 40px;
}

.comments {
  margin-top: 50px;
}