.hello {
    margin-left: 40px;
    margin-bottom: 100px;
}

.linkBack {
  position: fixed;
  bottom: 200px;
  left: 60px;     
  background-color: #C4E0E5;
}

.imageProfile {
  height: 200px;
  width: 170px;
  padding-bottom: 40px;
  margin-left: 185px;
  display: flex;
  justify-content: center;
}

.comments {
  margin-top: 50px;
}

.editButton {
  background-color: #C4E0E5;
}

.upload {
   background-color: #C4E0E5;
}

