.header {
    margin-left: 200px;
    margin-top: 120px;
}

.artist-card-index {
    margin-bottom: 40px;
    width: 350px
}

.artist-card img {
    height: 180px;
    object-fit: cover;
}

.artistWeek {
    display: flex;
    justify-content: center;
    padding-right: 250px;
}

.aristText {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
